* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121827;
  margin: 50px;
  border-radius: 25px;
  background:
    radial-gradient(
      circle at bottom center,
      #3D254E,
      transparent 60%
    ),
    
    #121827;

}
.intro {
  font-size: 2.5rem;
  font-weight: 650;
  margin-bottom: 10px;
}
.info {
  width: 45%;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 45px;
  opacity: 0.7;
  font-size: 1.2rem;
}
.input {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  align-items: center;
}
input {
  padding: 12px 16px;
  border-radius: 8px;
  width: 38%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 14px;
  outline: none;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #121827;
  cursor: pointer;
  font-weight: 600;
}
/* 
vertically center notify me button
spacing 
 */