/* write your css here */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: "Poppins", sans-serif;
}
img{
    width:50%;
    height:100vh
}
.container{
    width:100%;
    height:100vh;
    background-color: #101826;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    padding-left: 8rem;
    padding-right: 6rem;
    
}
.title{
    color:#6776c0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.info{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 2rem;
    opacity: 0.7;
    line-height: 1.5;
}
.btn{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #28303c;
    padding: 10px 12px;
    border-radius: 5px;
    cursor:pointer;
}